/* Odin recipes
styles.css */

 

h1 {
	font-family: system-ui, 'Times New Roman', Times, serif;
	font-size: 44px;
	text-align: center;
	color: rgb(255, 115, 0);
	font-weight: 700;
	
}


h2 {
	font-size: 32px;
	color: cyan;	
	}

p {
	font-family: 'Courier New', Courier, monospace;
	font-stretch: ultra-condensed;
	color: crimson;
}

li {
	color: rgb(5, 170, 32);
	align-self: flex-end;
	font-stretch: ultra-expanded;
}

h1,h2 {
	background-color: aqua;
	text-decoration: underline;	
	text-shadow: #7a797980 5px 3px 3px;
	-webkit-text-stroke: black 1px;
}

img {
	width: 50vw;
	height: auto;
	vertical-align: middle;
	align-content: center;
	align-self: center;
	align-items: center;
	image-rendering: crisp-edges;
	box-shadow: #7a797980 4px 4px 10px;
	border-radius: 55px;
	}

	body {	

}

body {

  background-image: url('https://plus.unsplash.com/premium_photo-1661883237884-263e8de8869b?q=80&w=1489&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center center